/data/BIOGRID-ORGANISM-Homo_sapiens-4.4.204.tab3.txt
/GraphSAGE/BIOGRID-ORGANISM-Homo_sapiens-4.4.204.tab3.txt
/n2v_xg/BIOGRID-ORGANISM-Homo_sapiens-4.4.204.tab3.txt
/sage_boost/BIOGRID-ORGANISM-Homo_sapiens-4.4.204.tab3.txt
/XGBoost/n2v_embeds/BIOGRID-ORGANISM-Homo_sapiens-4.4.204.tab3.txt
/data/deg_annotation_e.txt
/n2v_xg/emb/
/n2v_xg/csv/